html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.marquee {
  overflow: hidden;
}

.marquee *
{
  white-space: nowrap;
  width: fit-content
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  15%  { transform: translate(0, 0); }
  100% { transform: translate(var(--percentage), 0); }
  
}