@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h1>BusInfo</h1>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    @if (!Model.ValidatePostcode())
    {
        <p>Invalid postcode</p>
    }
    else
    {
        foreach (var stop in Model.GetStops())
        {
            <div>
                <h2>@stop.name</h2>
                <p>Bus timetable goes here</p>
            </div>
        }
    }
    
</div>
